body {
	background-color: rgb(244, 247, 250);
	font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	
}
.jumbotron {
	color: white;
	padding-top: 1px;
	padding-bottom: 24px;
	padding-left: 85px;
	margin-bottom: 0px;
	background-color: #337ab7
}
h2 {
	text-align: left;
	font-size: 40px;
    text-shadow: 0.05em 0 14px black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em 6px black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em 17px black;
}

.nav {
    padding-left: 50px;
    margin-bottom: 0;
	list-style: none;
	font-weight: 500;
}
.navbar {
	position: relative;
	min-height: 42px;
	margin-bottom: 20px;
	border: 1px solid;
}
.navbar-expand {
    background-color: #91aba821;
    border-color:  #78787887;
}
.nav>li {
    position: relative;
    display: block;
    padding-left: 26px;
}
.nav>li>a {
    position: relative;
    display: block;
	padding: 10px 32px;
	font-size: large
}
.container {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: 0.5%;
	margin-left: 0.5%;
	margin-bottom: 0.5%
}
.col-md-offset-3 {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -6px;
}

#price-banner {
	border: 10px outset rgba(28,110,164,0.9);
	border-radius: 7px;
	margin-bottom: 16px;
	margin-top: 40px;
	background-color: white
}

#inside-banner {
	margin-left:auto;
}

#coin-div{
	margin-bottom: 30px
}

#pct-div {
	margin-left: 40px
}
#img.source-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


#cont {
	width:315px;
}

#button-row {
	margin-top: 10px;
	margin-left:70px;
}


.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
  	width: 160px; /* Set the width of the sidebar */
  	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  	z-index: 1; /* Stay on top */
  	top: 0; /* Stay at the top */
 	padding-top: 246px;

}

.active {
	background-color: #699DBC !important; 
	color: white !important;
}

#blog-div {
	text-align: center;
	background-color: white
}

a {
	color: #0a0a0a;
	letter-spacing: 1.2px;
	
}

.positive-change {
	color: #11db18
}
.negative-change {
	color: red
}