<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class = "jumbotron">
        <h2>Crypto Asset Tracker</h2>
	</div>
    <nav class = "navbar navbar-expand">
        <ul class ="nav nav-pills nav-fill w-100">
            <li class="nav-item">
                <a class="nav-link" href="/"> Home </a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="coinData"> Coin Data</a>  
            </li>
            <li class="nav-item">
                <a class="nav-link" href="forecast"> Price Forecast </a>  
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sentiment">Sentiment Analysis </a>    
            </li>
        </ul> 
    </nav>
    <div class = 'row'>
        <div class="col-lg-12">
            <div id='price-banner' class="col-sm-2">
                <div id='inside-banner'>
                    <div id='coin-div' class = 'row'>
                        <img src = "./static/images/btc_icon.png">
                        Bitcoin(Btc) Live Price:
                        <b><span id = 'btc-price'></span></b>
                        <div id = 'pct-div'>
                            Last 24Hrs:
                            <span id = 'btc-change'></span>
                        </div>
                    </div>
                    <div id='coin-div' class = 'row'>
                        <img src = "./static/images/eth_icon.png">
                        Ethereum(Eth) Live Price:
                        <b><span id = 'eth-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'eth-change'></span>
                        </div>
                    </div>
                    <div id='coin-div'class = 'row'>
                        <img src = "./static/images/ltc_icon.png">
                        Litecoin Live Price:
                        <b><span id = 'ltc-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'ltc-change'></span>               
                        </div>
                    </div>
                    <div id='coin-div'class = 'row'>
                        <img src = "./static/images/ripple_icon.png">
                        Ripple Live Price:
                        <b><span id = 'xrp-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'xrp-change'></span>               
                        </div>
                    </div>
                    <div id='coin-div'class = 'row'>
                        <img src = "./static/images/eos_icon.png">
                        Eos Live Price:
                        <b><span id = 'eos-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'eos-change'></span>               
                        </div>
                    </div>
                    <div id='coin-div'class = 'row'>
                        <img src = "./static/images/stellar_icon.png">
                        Stellar Live Price:
                        <b><span id = 'xlm-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'xlm-change'></span>               
                        </div>                       
                    </div>
                    <div id='coin-div'class = 'row'>
                        <img src = "./static/images/dash_icon.png">
                        Dash Live Price:
                        <b><span id = 'dash-price'></span></b>
                        <div id = 'pct-div'> 
                            Last 24Hrs:
                            <span id = 'dash-change'></span>               
                        </div>                       
                    </div>   
                </div>
            </div>
            <div class="col-md-8">
                <div id = "blog-div" class="container">
                    <h3>Crypto Asset Price Forecast</h3>
                    <h5>Predicting the Future Price through Machine Learning</h5>
                    <p>"Since everyone has access to the same information, it is impossible to regularly beat the market - that stock prices are, in fact, efficient, reflecting everything we know as investors” <br>- Eugene Fame<br>
                        <br>
                        It is widely held that attempts to predict the stock market, at least in the short term, are a fruitless endeavor. While the amount of quants on Wall Street and High Frequency Trading algorithms suggest this is not the case or at least that the premise that “everyone has access to the same information” is false, Cryptocurrencies offers a unique opportunity in price forecasting. Still incredibly new in the world of financial assets, cryptocurrencies are operating in a space with limited knowledge, decentralized data and fewer regulations. This allows for the opportunity to take advantage of prediction which the Efficient Market Hypothesis rejects. It is quite probable that with the right data and right machine learning models one can find an “accurate” forecast, even in a volatile space as cryptocurrency. 
                        <br>
                        <br>
                        Going back to 2015 we can see that the general trend of selected assets are similar, with the S&P500 index as a frame of reference. 
                        <br>
                        <img src="/static/images/Crypto_Close_Subplot.png">
                        <img src="/static/images/Crypto_Log_Prices.png">
                        
                        <br>
                        And that prices are strongly correlated with each other, which makes sense given the buzz around Bitcoin and its adoption as a pseudo-index as whole.
                        <img src="/static/images/Heatmap_Correlation.png">
                        <br>
                        Here is a closer look at Ethereum, which will be used to forecast in these exercises.
                        <img src="/static/images/Eth_Close.png">
                        <br>
                        The first attempt was with a simple regression model, that given past closing prices, can we successfully predict future closing price. Using the SciKitLearn library to build and train our model we are successfully able to get a prediction.
                        <img src="/static/images/Ethereum_Forecast.png">
                        <img src="/static/images/Ethereum_Forecast_zoom.png">
                        <br>
                        Given the limitations of simple regression on accuratley forecasting, I created a Long short-term memory model, a type of neural network that is well-suited for time-series predictions.
                        <img src="/static/images/LTSM.png">
                        <br>
                        For this exercise it should be noted that the following machine learning applications should not be used as a guide to buy or sell crypto assets, it is merely an interesting introduction into applying machine learning on cryptocurrencies. Both of these deal with only a single input, closing price, but to get a more accurate and less biased prediction, additional variables should be considered. In the future, i hope to incorporate not just additional finanical indicators in these models but variables just as Social Media Sentiment etc.
                        <br>
                        A link to the code can be found at <a href="https://github.com/kyjohnson92/Crypto_ML">Github Link</a>
                        <br>
                        </p>
                </div>
            </div>
        </div>
    </div>


<script src = "../static/js/webapp.js"></script>
<script src = "../static/js/apicall.js"></script>

</body>
</html>