<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
<body>
    <div id ="page-wrap">
	    <div class = "jumbotron">
            <h2>Crypto Asset Tracker and Visualization</h2>
	    </div>
        <nav class = "navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class ="nav navbar-nav">
                    <li> temp </li>
                    <li> temp </li>
                </ul> 
            </div>
        </div>
        </nav>
    <div class = "sidenav">
        <div class="container" id="cont">
            <iframe src="http://twubs.com/embed/cryptocurrency/?messagesPerPage=5&headerBgColor=%231c6485&headerTextColor=%23ffffff" width="300" height="600" frameborder="0"><a href="http://twubs.com/cryptocurrency">#cryptocurrency</a></iframe>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-3 ">
        <div class='row'>
            <p3> Select Asset </p3>
            <select id='selectAsset' onchange="optionChanged(this.value)">
                <option value='btc'>Bitcoin Price</option>
                <option value='eth'>Ethereum Price</option>
                <option value='eos'>Eos Price</option>
            </select>
            <button onclick="assetChange('btc')">Bitcoin</button>
            <button onclick="assetChange('eth')">Ethereum</button>
            <button onclick="assetChange('eos')">EOS</button>
        </div>
        <div class='row'>
            <div id='linechart'>
        </div>
        <div id="button-row" class="row">
            <button onclick="timeChange('onemo')">1 month</button>
            <button onclick="timeChange('threemo')">3 month</button>
            <button onclick="timeChange('oneyr')">1 year</button>
            <button onclick="timeChange('twoyr')">2 year</button>
            <button onclick="timeChange('ytd')">YTD</button>
        </div>
    </div>



<script src = "../static/js/webapp.js"></script>
</div>
</body>
</html>