<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div id ="page-wrap">
	    <div class = "jumbotron">
            <h2>Crypto Asset Tracker and Visualization</h2>
	    </div>
        <nav class = "navbar navbar-expand">
            <ul class ="nav nav-pills nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Home </a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#"> Coin Data</a>  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Price Forecast </a>  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sentiment Analysis </a>    
                </li>
            </ul> 
        </nav>
    <div class = "sidenav">
        <div class="container" id="cont">
            <iframe src="http://twubs.com/embed/cryptocurrency/?messagesPerPage=5&headerBgColor=%231c6485&headerTextColor=%23ffffff" width="300" height="600" frameborder="0"><a href="http://twubs.com/cryptocurrency">#cryptocurrency</a></iframe>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-3 ">
        <div id='price-banner' class="row">
            <div id='inside-banner' class="row">
                <div id='btc-div' class = 'col-sm-4'>Bitcoin(Btc) Live Price:
                    <span id = 'btc-price'></span>
  
                </div>
                <div id='eth-div' class = 'col-sm-4'>Ethereum(Eth) Live Price:
                    <span id = 'eth-price'></span>

                </div>
                <div id='eos-div'class = 'col-sm-4'>Eos Live Price:
                    <span id = 'eos-price'></span>

                </div>
            </div>
            <div id='inside-banner' class="row">
                <div id='btc-div' class = 'col-sm-4'> Last 24Hrs:
   
                    <span id = 'btc-change'></span>
                </div>
                <div id='eth-div' class = 'col-sm-4'> Last 24Hrs:

                    <span id = 'eth-change'></span>
                </div>
                <div id='eos-div'class = 'col-sm-4'> Last 24Hrs:
 
                    <span id = 'eos-change'></span>               
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-3 ">
        <div class='row'>
            <p3> Select Data </p3>
            <select id='selectInfo' onchange="optionChanged(this.value)">
                <option value='price'>Price</option>
                <option value='market_cap'>Market Cap</option>
            </select>
            <button class='btn btn-default btn-sm' value ='btc' onclick="assetChange('btc', event)">Bitcoin</button>
            <button class='btn btn-default btn-sm' value ='eth' onclick="assetChange('eth', event)">Ethereum</button>
            <button class='btn btn-default btn-sm' value ='eos' onclick="assetChange('eos', event)">EOS</button>
        </div>
        <div class='row'>
            <div id='linechart'></div>
        <div id="button-row" class="row">
            <button class='btn btn-default btn-sm' onclick="timeChange('onemo')">1 month</button>
            <button class='btn btn-default btn-sm' onclick="timeChange('threemo')">3 month</button>
            <button class='btn btn-default btn-sm' onclick="timeChange('oneyr')">1 year</button>
            <button class='btn btn-default btn-sm' onclick="timeChange('twoyr')">2 year</button>
            <button class='btn btn-default btn-sm' onclick="timeChange('ytd')">YTD</button>
        </div>
        </div>
        </div>
    </div>



<script src = "../static/js/webapp.js"></script>
<script src = "../static/js/apicall.js"></script>

</body>
</html>